# Task

- You are asked to create a customer and order table as follows "Customers" and "Orders". Determine the right data
type to create the two tables. Here are the structures and data for both tables:

```-- Membuat table Customers
CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    customer_name VARCHAR(25),
    city VARCHAR(25)
);

-- Membuat table Orders
CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INTEGER REFERENCES customers(customer_id),
    order_date DATE,
    total_amount FLOAT      
);

-- Mengisi tabel Customers
INSERT INTO customers (customer_name, city)
VALUES
    ('John Doe', 'New York'),
    ('Jane Smith', 'Los Angeles'),
    ('David Johnson', 'Chicago');

-- Mengisi tabel orders
INSERT INTO orders (customer_id, order_date, total_amount)
VALUES
    (1, '2022-01-10', 100.00),
    (1, '2022-01-15', 150.00),
    (2, '2022-03-20', 200.00),
	(3, '2022-04-25', 50.00);

-- Melihat isi tabel costumers
SELECT * FROM customers;

-- Melihat isi tabel costumers
SELECT * FROM orders;

![Screenshot data customer](h8dsft_ngc_basic_data_wrangling_in_sql-pic1.png "Screenshot data customer")

![Screenshot data order](h8dsft_ngc_basic_data_wrangling_in_sql-pic2.png "Screenshot data order")

- Once you have successfully created both tables, create a query to retrieve the total number of orders made by each
customer along with the customer name from the "Customers" and "Orders" tables.

```-- Melakukan pencarian berapa kali seorang customer mengorder
SELECT customers.customer_name, count(orders.customer_id)
FROM orders JOIN customers
ON orders.customer_id = customers.customer_id
GROUP BY customers.customer_name;

![Screenshot data customer order](h8dsft_ngc_basic_data_wrangling_in_sql-pic3.png "Screenshot data customer order")